/demoespatio/vendor/
/demoespatio/.vscode/
/demoespatio/.env
/demoespatio/config/database.php
/demoespatio/config/mail.php
/demoespatio/public/panel/
/demoespatio/public/uploaddir/
/.vscode/
.gitignore
